<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>defaut</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.controleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterPhoto</servlet-name>
        <servlet-class>com.controleur.AjouterPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherPictures</servlet-name>
        <servlet-class>com.controleur.AfficherPictures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherFriendRequests</servlet-name>
        <servlet-class>com.controleur.AfficherFriendRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Defaut</servlet-name>
        <servlet-class>com.controleur.Defaut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.controleur.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.controleur.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherProfil</servlet-name>
        <servlet-class>com.controleur.AfficherProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friend</servlet-name>
        <servlet-class>com.controleur.Friend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierPhoto</servlet-name>
        <servlet-class>com.controleur.ModifierPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerPhoto</servlet-name>
        <servlet-class>com.controleur.SupprimerPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherGerer</servlet-name>
        <servlet-class>com.controleur.AfficherGerer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierPicture</servlet-name>
        <servlet-class>com.controleur.ModifierPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendComment</servlet-name>
        <servlet-class>com.controleur.SendComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePicture</servlet-name>
        <servlet-class>com.controleur.LikePicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterPhoto</servlet-name>
        <url-pattern>/ajouterPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherPictures</servlet-name>
        <url-pattern>/afficherPictures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Defaut</servlet-name>
        <url-pattern>/defaut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherProfil</servlet-name>
        <url-pattern>/afficherProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierPhoto</servlet-name>
        <url-pattern>/modifierPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerPhoto</servlet-name>
        <url-pattern>/supprimerPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherGerer</servlet-name>
        <url-pattern>/afficherGerer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierPicture</servlet-name>
        <url-pattern>/modifierPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherFriendRequests</servlet-name>
        <url-pattern>/afficherFriendRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friend</servlet-name>
        <url-pattern>/friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendComment</servlet-name>
        <url-pattern>/sendComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePicture</servlet-name>
        <url-pattern>/likePicture</url-pattern>
    </servlet-mapping>
    <session-config>
        
        <session-timeout>
            30
        </session-timeout>
        
        
    </session-config>
</web-app>
